<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="my-app" verbose="1" >
    <test name="test" >
        <classes>
            <class name="com.seleniumeasy.FirstTest" />
            <class name="com.seleniumeasy.SecondTest"/>
            <class name="com.seleniumeasy.ThirdTest"/>
            <class name="com.seleniumeasy.FifthTest"/>
        </classes>
    </test>


</suite>
