<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="my-app" verbose="1" >
    <test name="test" >
        <classes>

            <class name="com.seleniumeasy.SixthTest"/>
            <class name="com.seleniumeasy.ForthTest"/>
            <class name="com.seleniumeasy.NinthTest"/>
            <class name="com.seleniumeasy.ThirdTest"/>

        </classes>
    </test>


</suite>
